<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs',{titulo:'Editar mis datos', css:'register'})%>
  <body>
    <%- include('../partials/header.ejs') %> 
      <main>
          <form action="/usuario/editar" method="POST" class="register" enctype='multipart/form-data'>
              <section>
                  <div class="text-register">
                    <h1>Editar mis datos</h1>
                  </div>
                  <div class="text-register">
                    <h3>Informacion personal</h3>
                  </div>
                </section>
                <section>
                  <div class="form-register">
                      <label class="title-label">Nombre</label>
                      <input type="text" class="text-register-form" minlength="3" value="<%=user.first_name%>" name='name' required>
                  </div>
                  <div  class="form-register">
                      <label class="title-label">Apellido</label>
                      <input type="text" class="text-register-form" minlength="3" value="<%= user.last_name%>" name='lastname'required>
                  </div>
                </section>
                <section>
                  <div class="form-register">
                      <label class="title-label">Email</label>
                      <input type="email" class="text-register-form" name="email" value="<%=user.email%>" name='email' required>
                  </div>
                  <div  class="form-register">
                  <label for="fotoPerfil" class="title-label"> Foto de perfil </label>
                  <input class="text-register-form" id="avatar" type="file" name="image">
                </div>
                <div class="form-register" >
                  <label class="title-label">Categoria</label>
                  <!-- <input type="text" class="text-register-form" minlength="3" placeholder="Admin o Usuario" name='category' required> -->
                  <p>
                    <select class="text-register-form" name="function">
                      <option value="" disabled>Selecciona una categoría</option>
                      <% functions.forEach(funct => { %>
                      <option value="<%= funct.id %>"<%= funct.id === user.function_id ?"selected" :null%>><%= funct.admin_or_user %></option>
                      <% }); %>
                    </select>
                  </p>
                </div>
                <div class="form-register">
                      <label for="contraseña" class="title-label">Contraseña</label>
                      <input type="password" class="text-register-form" name="psw" required>
                </div>
                </section>
                  <p class="p-register">Campos requeridos</p>
                  <button type="submit" class="button-register">Crear Cuenta</button>
              </section>
          </form>
      </main>
      <%- include('../partials/footer.ejs') %> 
</body>
</html>