<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs',{titulo:'Registro', css:'register'})%>
  <body>
    <%- include('../partials/header.ejs') %> 
      <main>
          <form action="/usuario/registro" method="POST" class="register" enctype='multipart/form-data' id='form'>
            <div class='form-register-total'>
              <section>
                  <div class="text-register">
                    <h1>Crear nueva cuenta de cliente</h1>
                  </div>
                  <div class="text-register InformacionPersonal">
                    <h3 >Informacion personal</h3>
                  </div>
                </section>
                  <section>
                   <div class='divErrors'>
                  <ul class='errores'></ul>
                </div>

                  <div class="form-register">
                      <label class="title-label">Nombre</label>

                      <% if (locals.errors && errors.name) { %>
                        <p class='formRegisterError'>
                          <%= errors.name.msg %>
                        </p>
                     <% } %>

                      <input type="text" class="text-register-form" name='name' value='<%= locals.oldData && oldData.name ? oldData.name : "" %>' id='name'>
           
                  </div>
                  <div  class="form-register">
                      <label class="title-label">Apellido</label>

                      <% if (locals.errors && errors.lastname) { %>
                        <p class='formRegisterError'>
                          <%= errors.lastname.msg %>
                        </p>
                     <% } %>

                      <input type="text" class="text-register-form" name='lastname' value='<%= locals.oldData && oldData.lastname ? oldData.lastname : "" %>' id='lastname'>                  
                  </div>
                </section>
                <section>
                  <div  class="form-register">
                      <label class="title-label">Email</label>

                      <% if (locals.errors && errors.email) { %>
                        <p class='formRegisterError'>
                          <%= errors.email.msg %>
                        </p>
                     <% } %>

                      <input type="email" class="text-register-form" name="email" value='<%= locals.oldData && oldData.email ? oldData.email : "" %>' id='email'>
                  </div>
                  <div  class="form-register">
                  <label for="fotoPerfil" class="title-label"> Foto de perfil </label>

                  <% if (locals.errors && errors.image) { %>
                    <p class='formRegisterError'>
                      <%= errors.image.msg %>
                    </p>
                 <% } %>    

                  <input class="text-register-form" id="avatar" type="file" name="image" value='<%= locals.oldData && oldData.image ? oldData.image : "" %>' id='image'>
                </div>
                <div class="form-register " >
                  <label class="title-label">Categoria</label>

                  <% if (locals.errors && errors.category) { %>
                    <p class='formRegisterError'>
                      <%= errors.category.msg %>
                    </p>
                 <% } %>
                 
                  <!-- <input type="text" class="text-register-form" minlength="3" placeholder="Admin o Usuario" name='category' required> -->
                  <select class="text-register-form" name="category">
                    <option value="" disabled selected>Selecciona una categoría</option>

                      <% if (locals.functions) { %>
                        <% functions.forEach(category=> { %>
                          <option value="<%= category.id %>"<%= locals.oldData && (category === oldData.function) ? 'selected' : ''%>><%= category.admin_or_user %></option>
                        <% }) %>
                     <% } %>
                    
                  </select>
              </div>
                  <div class="form-register">
                      <label for="contraseña" class="title-label">Contraseña</label>

                      <% if (locals.errors && errors.psw) { %>
                        <p class='formRegisterError'>
                          <%= errors.psw.msg %>
                        </p>
                     <% } %>

                      <input type="password" class="text-register-form" name="psw" id='psw'>
                  </div>
                </section>
                  <p class="p-register">Campos requeridos</p>
                  <a href="/"><button type="submit" class="button-register">Crear Cuenta</button></a>
              </section>
            </div>
          </form>
      </main>
      <%- include('../partials/footer.ejs') %> 
      <script src='/js/userRegisterValidations.js'></script>
</body>
</html>