<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs',{titulo:'Registro', css:'register'})%>
  <body>
    <%- include('../partials/header.ejs') %> 
      <main>
          <form action="/usuario/registro" method="POST" class="register" enctype='multipart/form-data'>
              <section>
                  <div class="text-register">
                    <h1>Crear nueva cuenta de cliente</h1>
                  </div>
                  <div class="text-register">
                    <h3>Informacion personal</h3>
                  </div>
                </section>
                  <section>
                  <div class="form-register">
                      <label class="title-label">Nombre</label>
                      <input type="text" class="text-register-form" minlength="3" placeholder="Aca va tu nombre" name='name' required>
                  </div>
                  <div  class="form-register">
                      <label class="title-label">Apellido</label>
                      <input type="text" class="text-register-form" minlength="3" placeholder="Aca va tu apellido" name='lastname'required>
                  </div>
                </section>
                <section>
                  <div  class="form-register">
                      <label class="title-label">Email</label>
                      <input type="email" class="text-register-form" name="email" placeholder="Aca va tu E-mail" name='email' required>
                  </div>
                  <div  class="form-register">
                  <label for="fotoPerfil" class="title-label"> Foto de perfil </label>
                  <input class="text-register-form" id="avatar" type="file" name="image">
                </div>
                <div class="form-register " >
                  <label class="title-label">Categoria</label>
                  <!-- <input type="text" class="text-register-form" minlength="3" placeholder="Admin o Usuario" name='category' required> -->
                  <select class="text-register-form" name="function" required>
                    <option value="" disabled selected>Selecciona una categoría</option>
                      <% functions.forEach(category=> { %>
                        <option value="<%= category.id %>"<%= locals.oldData && (category === oldData.function) ? 'selected'  : null%>><%= category.admin_or_user %></option>
                      <% }) %>
                  </select>
              </div>
                  <div class="form-register">
                      <label for="contraseña" class="title-label">Contraseña</label>
                      <input type="password" class="text-register-form" placeholder="Aca va tu contraseña" name="psw" required>
                  </div>
                </section>
                  <p class="p-register">Campos requeridos</p>
                  <a href="/"><button type="submit" class="button-register">Crear Cuenta</button></a>
              </section>
          </form>
      </main>
      <%- include('../partials/footer.ejs') %> 
</body>
</html>