<!DOCTYPE html>
<html>
  <%- include('../partials/head', {titulo:'Crear NuevoProducto', css: 'create'}) %>
  <body>
    <%- include('../partials/header') %>
    <main class="create-form">
      <h2>Formulario de producto</h2>
      <form action="/productos/" method="POST" class="new-product-form" enctype="multipart/form-data">
        <section class="form-section-left">
            <label for="name">Nombre</label>
            <input type="text" name="name" id="name">
            <label for="description">Descripción</label>
            <textarea name="description" id="description" rows="6"></textarea>
            <label for="image">Imagen</label>
            <input type="file" name="image">
            <label for="category">Categoría</label>
            <select name="category" id="category" class="category">
              <option value="" disabled selected>Selecciona una categoría</option>
              <% allCategories.forEach(category => { %>
              <option value="<%= category.id %>"><%= category.category %></option>
              <% }); %>
            </select>
          </section>
        <section class="form-section-right">
            <p>Colores<p>
              <% allColors.forEach(color => { %>
                <input type="checkbox" name="color" id="<%=color.id%>>" value="<%=color.id%>">
                <label for="<%=color.id%>>"><%=color.color%></label>
              <% }); %>
            <p>Talles<p>
              <% allSizes.forEach(size => { %>
                <input type="checkbox" name="size" id="<%=size.id%>>" value="<%=size.id%>">
                <label for="<%=size.id%>>"><%=size.size%></label>
              <% }); %><br>
            <label for="season">Temporada</label>
            <select name="season" id="season" class="category">
              <option value="" disabled selected>Selecciona una temporada</option>
              <% allSeasons.forEach(season => { %>
              <option value="<%= season.id %>"><%= season.season %></option>
              <% }); %>
            </select>
            <select name="gender" id="gender" class="category">
              <option value="" disabled selected>Selecciona un género</option>
              <option value="Femenino">Femenino</option>
              <option value="Masculino">Masculino</option>
            </select>
            <label for="price" class="price">Precio</label>
            <input type="number" name="price" id="price"><br>
            <label for="discount" class="price">Descuento</label>
            <input type="number" name="discount" id="discount"><br>
            </section>
        <div>
            <button type="submit" class="new-product-button">CREAR PRODUCTO</button>
        </div>
      </form>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>