<!DOCTYPE html>
<html>
  <%- include('../partials/head', {titulo:'Crear NuevoProducto', css: 'create'}) %>
  <body>
    <%- include('../partials/header') %>
    <main class="create-form">
      <h2>Formulario de producto</h2>
      <form action="/productos/" method="POST" class="new-product-form" enctype="multipart/form-data">
        <section class="form-section-left">
            <label for="name">Nombre</label>
            <input type="text" name="name" id="name">
            <label for="description">Descripción</label>
            <textarea name="description" id="description" rows="6"></textarea>
            <label for="image">Imagen</label>
            <input type="file" name="image">
            <label for="category">Categoría</label>
            <select name="category" id="category" class="category">
              <option value="">Elegí una categoria</option>
              <option value="snow">Snow</option>
              <option value="surf">Surf</option>
              <option value="skate">Skate</option>
            </select>
          </section>
        <section class="form-section-right">
            <p>Colores<p>
              <% let arrayColores = ["Rojo","Azul","Amarillo","Verde","Blanco","Negro"] %>
              <% for (const color of arrayColores) { %>
                <div class="color-input">
                <input type="checkbox" name="color" id="<%=color%>" value="<%=color%>">
                <label for="<%=color%>"><%=color%></label>
              </div>
              <% } %>
            <p>Talles<p>
              <% let arraySize = ["S","M","L"] %>
              <% for (const size of arraySize) { %>
                <div class="size-input">
                <input type="checkbox" name="size" id="size" value="<%=size%>">
                <label for="size"><%=size%></label>
              </div>
              <% } %>
            <label for="price" class="price">Precio</label>
            <input type="number" name="price" id="price"><br>
            </section>
        <div>
            <button type="submit" class="new-product-button">CREAR PRODUCTO</button>
        </div>
      </form>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>