<!DOCTYPE html>
<html>
  <%- include('../partials/head', {titulo:'Editar producto', css: 'edit'}) %>
  <body>
    <%- include('../partials/header') %>
    <main class="edit-form">
      <h2>Editar producto <%= producto.name%></h2>
      <form action="/productos/detalle/<%=producto.id%>?_method=PUT" method="POST" class="edit-product-form" enctype="multipart/form-data">
        <section class="form-section-left">
            <label for="name">Nombre</label>
            <input type="text" name="name" value= <%=producto.name%>>
            <label for="description">Descripción</label>
            <textarea name="description" id="description" rows="6"><%= producto.description%></textarea>
            <label for="image">Imagen</label>
            <input type="file" name="image">
            <label for="category">Categoría</label>
            <select name="category" id="category" class="category">
              <option value="">Elegí una categoria</option>
              <% let arrayCategories = ['snow','surf','skate']%>
              <% for (const category of arrayCategories){ %>
                <option value="<%=category%>" <%= category == producto.category ? 'selected'  : null%>><%=category%></option>
              <%}%>
            </select>
        </section>
        <section class="form-section-right">
            <p><strong>Colores</strong><p>
            <% let arrayColores = ["Rojo","Azul","Amarillo","Verde","Blanco","Negro"] %>
            <% let productColor = producto.color %>
            <% for (const color of arrayColores) { %>
              <div class="color-input">
              <input type="checkbox" name="color" id="<%=color%>" value="<%=color%>" <%= productColor.includes(color)  ? 'checked' : '' %>>
              <label for="<%=color%>"><%=color%></label>
            </div>
            <% } %>
            <p><strong>Talles</strong><p>
              <% let arraySize = ["S","M","L"] %>
            <% let productSize = producto.size %>
            <% for (const size of arraySize) { %>
              <div class="size-input">
              <input type="checkbox" name="size" id="size" value="<%=size%>" <%= productSize.includes(size)  ? 'checked' : '' %>>
              <label for="size"><%=size%></label>
            </div>
            <% } %>
            <label for="price" class="price">Precio</label>
            <input type="number" name="price" id="price" value=<%= producto.price%>><br>
        </section>
        <div>
            <button type="submit" class="edit-product-button">EDITAR PRODUCTO</button>
        </div>
      </form>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>