<!DOCTYPE html>
<html>
  <%- include('../partials/head', {titulo:'Lista de productos', css: 'list'}) %>
  <body>
    <%- include('../partials/header') %>
    <main class="main-list">
      <h2>Listado de Productos</h2>
      <div class="products-list">
      <% products.forEach(product=>{ %>
      <section class="product">
        <a href="/productos/detalle/<%= product.id%>" class="product-detail">
          <div class="product-image">
            <img alt="imagen de producto" src="/images/<%=product.product_image%>">
          </div>
          <article class="product-data">
              <p><strong>Nombre: </strong> <%= product.title %></p>
              <p><strong>Descripcion: </strong> <%= product.description %></p>
              <p><strong>Categoría: </strong>
                <% categories.forEach(cate=>{ %>
                  <%= product.category_id == cate.id ? cate.category : null %>
                <% }) %>
              </p>
              <p><strong>Precio: </strong> $<%=product.price%></p>
              <p><strong>Descuento: </strong> <%=product.discount%>%</p>
          </article>
        </a>
        <div class="edit-delete-buttons">
          <div class="cart-button-div">
            <a href="/productos/carrito" class="edit-button"><strong>Comprar</strong></a>
          </div>
          <% if(locals.userLogged && locals.userLogged.function_id == 1){ %> 
          <div class="edit-delete-button-div">
            <a href="/productos/editar/<%= product.id%>/" class="edit-button"><strong>Editar</strong></a>
            <form action="/productos/detalle/<%=product.id%>?_method=DELETE" method="POST" class="delete-form">
              <button type="submit" class="delete-button"><strong>Eliminar</strong></button>
            </form>
          </div>
          <%}%>
        </div>
      </section>
      <% }) %>
    </div>
    <% if(locals.userLogged && locals.userLogged.function_id == 1){ %> 
    <div class="new-product-div">
      <a href="/productos/crear/" class="new-product-button"><strong>CREAR PRODUCTO NUEVO</strong></a>
    </div>
    <% } %>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>