<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs',{titulo: product.name, css:'productDetail'})%>
  <body>
    <%- include('../partials/header.ejs') %> 
    <main>
      <section class="product">
        <div class="product-photos">
          <div class="main-photo">
            <img src="/images/<%= product.image%>" alt= <%=product.nombre%> >
          </div>
          <div class="gallery-product">
            <img src="/images/remera2.jpg" alt="remera2" />
            <img src="/images/remera3.jpg" alt="remera3" />
            <img src="/images/remera4.jpg" alt="remera4" />
          </div>
        </div>
        <div class="product-price-and-form">
          <div class="product-details">
            <h2 class="product-name"><%=product.title %></h2>
            <h4>EN STOCK</h4>
            <h2 class="price">$<%= product.price%></h2>
            <% if(product.discount != 0 ){ %>
              <h3 class="discount"><%= product.discount%>% descuento</h3>
              <h2 class="price">$ <%= product.price * (100-product.discount)/100 %></h2>
            <% } %>
            <h4>3 y 6 cuotas sin interés</h4>
            <p>Según la promo de tu tarjeta/banco</p>
            <a href="#">Calcular cuotas</a>
          </div>
          <div class="product-add-form">
          <form action="/product-form" method="POST">
            <div class="color">
              <label for="color"><strong>Color</strong></label>
              <select name="color" id="color">
                <option value="" disabled selected>Elegí un color</option>
                  <% colors.forEach(color=> { %>
                    <option value="<%= color.id %>"<%= locals.errors && (color.id == oldData.color) ? 'selected'  : null%>><%= color.color %></option>
                  <% }) %>
              </select>
            </div>
            <div class="talle">
              <label for="size"><strong>Talle</strong></label>
              <select name="size" id="size">
                <option value="" disabled selected>Elegí un talle</option>
                  <% sizes.forEach(size=> { %>
                    <option value="<%= size.id %>"<%= locals.errors && (size.id == oldData.size) ? 'selected'  : null%>><%= size.size %></option>
                  <% }) %>
              </select>
            </div>
            <div class="add-to-cart-button">
              <button type="submit"><h4>AGREGAR AL CARRITO</h4></button>
            </div>
          </form>
          </div>
          <div class="product-info">
          <h2>Detalle del producto</h2>
          <p>
            <%=product.description%>
          </p>
          </div>
        </div>
      </section>
      <section class="other-products">
        <h2>PRODUCTOS RELACIONADOS</h2>
        <div class="carrusel">
          <a href="#" class="left-arrow"><i class="fas fa-chevron-left"></i></a>
          <a href="#" class="right-arrow"><i class="fas fa-chevron-right"></i></a>
          <div class="carrusel-block">
            <div class="item-de-carrusel">
              <a href="#"><img src="/images/prod 1.jpg" alt="Foto de producto"></a>
              <h4 class="Titulo-de-producto">Producto 1</h4>
              <p class="precio-de-producto">$$$</p>
            </div>
            <div class="item-de-carrusel">
              <a href="#"><img src="/images/prod 2.jpg" alt="Foto de producto"></a>
              <h4 class="Titulo-de-producto">Producto 2</h4>
              <p class="precio-de-producto">$$$</p>
            </div>
            <div class="item-de-carrusel">
              <a href="#"><img src="/images/prod 3.jpg" alt="Foto de producto"></a>
              <h4 class="Titulo-de-producto">Producto 3</h4>
              <p class="precio-de-producto">$$$</p>
            </div>    
          </div>
        </div>
      </section>
    </main>
    <%- include('../partials/footer.ejs') %> 
  </body>
</html>
