<!DOCTYPE html>
<html>
  <%- include('../partials/head', {titulo:'Resultados de tu búsqueda', css: 'list'}) %>
  <body>
    <%- include('../partials/header') %>
    <main class="main-list">
      <h2>Resultado de tu búsqueda</h2>
      <div class="products-list">
      <% products.forEach(product => { %>
      <section class="productResult">
        <a href="/productos/detalle/<%= product.id%>" class="product-detail">
          <div class="product-image">
            <img alt="imagen de producto" src="/images/<%=product.product_image%>">
          </div>
          <article class="product-data" style="text-align:center; margin:auto">
            <p><strong><%= product.title %></strong></p>
            <!-- <p><strong>Descripcion: </strong> <%= product.description %></p> -->
            <p><strong>Categoría: </strong>
              <% categories.forEach(cate=>{ %>
                <%= product.category_id == cate.id ? cate.category : null %>
              <% }) %>
            </p>
            
            <% if(product.discount == 0){ %>
              <p><strong>$<%=product.price%></strong></p>
            <% } else {%>
              <span style="text-decoration: line-through;margin-right: 15px;">$<%=product.price%></span><span style="color: rgb(16, 182, 16);"><strong>$<%= product.price * (100-product.discount)/100 %></strong></span>
              <p><strong><%=product.discount%>% OFF</strong> </p>
            <% } %>
          </article>
        </a>
      </section>
      <% }) %>
    </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>